body{

background:black;
color:white;
font-family:Arial;
text-align:center;
overflow:hidden;

}

.center{

margin-top:200px;

}

#title{

font-size:50px;

}

#typing{

font-size:26px;
margin-top:30px;

}

button{

margin-top:30px;
padding:15px 30px;
font-size:20px;
background:#ff4d6d;
border:none;
border-radius:10px;
color:white;

}

#final{

font-size:80px;
color:#ff4d6d;
text-shadow:0 0 20px pink;
display:none;
margin-top:200px;

}

.heart{

position:absolute;
color:#ff4d6d;
animation: float 6s linear infinite;

}

@keyframes float{

0%{transform:translateY(0);}
100%{transform:translateY(-900px);}

}